<!DOCTYPE html>
<html>
<head>

    {% load staticfiles %}

    {% load compress %}
    {% compress css %}
        <link media="all" type="text/x-scss" rel="stylesheet" href="/static/sass/master.scss"/>
    {% endcompress %}


</head>

<body>

    <div id="map">
        <div id="dino"></div>
        <div id="counter">
            <div id="title">Gold coins:</div>
            <div id="number">0/5</div>
        </div>
        <div class="coin c1"></div>
        <div class="coin c2"></div>
        <div class="coin c3"></div>
        <div class="coin c4"></div>
        <div class="coin c5"></div>
        <div id="dino2"></div>
        <div id="greeting">Oh hello there!</div>
        <div id="balloon"></div>
    </div>

    <script src="/static/js/jquery.js" %}"></script>
    <script src="/static/js/main.js" %}"></script>

</body>
</html>
